body {
    font-family:"Pretendard Variable";
    letter-spacing: -0.1px;
    background-color: #eceef0;
}

.layout{
    max-width: 390px;
    background-color: white;
    margin: 0 auto;
    min-height:100vh;
}