
.header{
    background-color: #EAEBEF;
    padding:50px 24px;
}

.primaryColor{
    color: #0046FF;
}

.headerSubTitle{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.headerTitle{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 18px;
}
.infoContainer{
    padding-bottom: 48px;
}
.linkSection{
    background-color: #EAEBEF;
    padding-bottom:12px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.applyButton{
    border-radius: 30px;
    background: linear-gradient(90deg, #0094FF 0%, #0046FF 114.29%);
    padding: 16px;
    width: 100%;

    color: #FEFEFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.16px;
    margin-bottom: 50px;

    /* padding을 포함해서 가로 길이를 계산해준다 */
    box-sizing: border-box;
}
.accordionContainer{
    cursor: pointer;
    background: #FFF;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;

}
.accordionTitle{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.infoContainer{
    padding-bottom: 48px;
}
.arrowIcon{
    transition: transform 0.3s ease-in-out;
}
.arrowOpen{
    transform: rotate(180deg);

}
.linkContentContainer{
    max-height: 0;
    overflow-y: hidden;
    transition: all 700ms;
}
.itemOpen{
    max-height: 500px;
    display: block;
}

/* ------ 유의사항 섹션 ------ */
.noticeSection{
    margin-top: 12px;
    background-color: white;    
    padding: 24px;
}
.noticeTitle{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 28px;
}
.noticeText{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer{
    color: #878787;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 120px 0px 60px;
}
.koreanStock{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    
}
.globalStock{
    color: #A1A1A1;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}
.stockClick{
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}
.stockSelect{
    display: flex;
    justify-content: center;
    height: 65px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    align-items: center;
}
